/* Set default font family for the entire page */
body {
    font-family: Arial, sans-serif;
}

/* Header styles */
.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Login button styles */
.login-button {
    background-color: #4caf50; /* Green */
    color: #fff; /* color text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding for button */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

/* Hover effect for login button */
.login-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* Container styles for hairdresser information */
.hairdresser-info-container {
    display: flex; /* Display as a flex container */
    flex-wrap: wrap; /* Wrap items to next row if needed */
    justify-content: center; /* Center items horizontally */
}

/* Styles for individual hairdresser information */
.hairdresser-info {
    background-color: #f9f9f9; /* Light gray background */
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    margin: 20px
}