/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 
 /* Styling for the header */

/* Styling for the header */
.header {
    background-color: #3498db; /* Light blue background */
    padding: 20px; /* Add some padding around the header text */
    text-align: center; /* Center-align the header text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-bottom: 7px solid #2980b9; /* Darker blue bottom border */
    margin-bottom: 20px; /* Add some space below the header */
    border-radius: 10px; /* Add rounded corners */
    color: #fff; /* Text color */
    transition: background-color 4s ease-out; /* Transition effect for background color */
}

.header:hover {
    background-color: #2980b9; /* Darker blue on hover */
    cursor: pointer; /* Show pointer cursor on hover */
}

.header h1 {
    margin: 0; /* Remove default margin */
    font-size: 32px; /* Increase font size */
    font-weight: bold; /* Make the text bold */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 2px; /* Add letter spacing */
}

/* Styling for the body */
body {
    background-color: #9ed6fc; /* Light pink background */
}



  
 .map-container {
    display: flex;
    margin: 40px;
  }
  
  /* Styling for the map */
  #map {
    flex: 1; /* Take up remaining space */
    height: 460px; /* Adjust height as needed */
  }
  
  /* Flex container for hairdresser info */
  .hairdresser-info-container {
    display: flex;
    
  }
  
  /* Styling for each hairdresser info */
  .hairdresser-info {
    display: flex;
    margin-left: 45px; /* Adjust spacing */
    max-width: 300px; /* Set maximum width */
    min-width: 400px; /* Set minimum width */
    width: 90%; /* Set preferred width */
    border: 3px solid #2980b9;
    padding: 30px;
    border-radius: 10px; /* Add rounded corners */
  }
  
  /* CSS */
.hairdresser-info {
    display: none; /* Initially hide the hairdresser info */
    
}

.show-info {
    display: block; /* Show the hairdresser info when the class is present */
    
}

  
  

/* booking times */

.booking-container {
  margin-top: 20px;
  
}

.booking-container h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.booking-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 20px;
  
}

.time-slot-available {
  background-color: hsl(122, 80%, 67%);
  color: #1f1f1f;
  border: solid 1px;
  padding: 5px 10px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.time-slot-not-available {
  background-color: #f66d63;
  color: #0e0e0e;
  border: solid 1px;
  padding: 5px 10px;
  font-size: 13px;
  cursor: not-allowed;
}

.time-slot-available:hover {
  background-color: rgb(9, 247, 21);
}

.time-slot-not-available:hover {
  background-color: #f44336;
}

 